@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.newTask {
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__width {
    margin: 1rem;

    @include tablet {
      margin: 0 $tabletMargin;
    }
    @include desktop {
      width: $desktopWidth;
    }
  }

  &__title {
    border-bottom: 1px solid grey;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__pair {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  &__label {
    @include tablet {
      width: 128px;
    }
  }

  &__area {
    flex-grow: 2;
    height: 10rem;
  }

  &__input,
  &__date {
    @include tablet {
      width: 15rem;
    }
  }

  &__input,
  &__area,
  &__date {
    margin-bottom: 1.5rem;
  }

  &__button {
    background-color: $buttonGreen;
    box-shadow: $shadowGreen;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: 700;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;

    @include tablet {
      width: max-content;
      margin-top: 2rem;
      padding: 0.5rem 2rem;
    }
  }

  &__input--error {
    border: 1px solid $errorred;
  }
}
