@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.task {
  margin: 1rem 1rem;
  border-top: solid 1px gray;

  @include tablet {
    border: solid 1px rgb(173, 173, 173);
    border-radius: 4px;

    padding: 1rem;
    width: max-content;
    height: fit-content;
  }

  &__width {
    color: black;
    text-decoration: none;
  }

  &__title {
    font-weight: bold;
  }

  &__overdue {
    background-color: rgb(194, 27, 27);
    padding: 0.5rem;
    text-align: center;
    color: white;
    border-radius: 3px;
  }
}

a {
  color: black;
  text-decoration: none;
}
