.task {
  margin: 1rem 1rem;
  border-top: solid 1px gray;

  &__width {
    color: black;
    text-decoration: none;
  }

  &__title {
    font-weight: bold;
  }
}

a {
  color: black;
  text-decoration: none;
}
