@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.dtask {
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__width {
    margin: 0 1rem;

    @include tablet {
      margin: 0 $tabletMargin;
    }

    @include desktop {
      width: $desktopWidth;
    }
  }

  &__descTitle {
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    border-bottom: 1px solid;
  }

  &__desc {
    padding-top: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 0;
  }
  &__statusForm {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    @include tablet {
      justify-content: flex-start;
    }
  }

  &__label {
    margin-right: 1rem;
  }

  &__status {
    flex-grow: 2;

    @include tablet {
      max-width: 25rem;
    }

    &--error {
      border: 1px solid $errorred;
    }
  }

  &__button {
    margin-left: 1rem;
    background-color: $buttonGreen;
    box-shadow: $shadowGreen;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: 700;
    cursor: pointer;
    border: 0;
  }

  &__dueDate {
    margin-top: 2rem;
  }

  &__delete {
    background-color: darkred;
    box-shadow: $shadowGreen;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 2rem;

    @include tablet {
      max-width: max-content;
      padding: 0.5rem 2.5rem;
    }
  }
}
